body {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family:"Rampart One","monospace";}
html {
    background-color: #ffb3de;
  }
button {
    font-size: 20px; 
    font-family:"Noto Sans TC";
    font-weight: 600;
  }


h1 {
    font-size: 40px;
    text-align: center;
    
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  .styled {
    
    cursor:pointer;
    margin: 5px;
    border: 0;
    line-height: 2;
    padding: 0 10px;
    font-size: 1rem;
    
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 57, 169);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(255, 0, 128);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  .volume {
    margin: 0.5px;
    padding: 0 5px;

  }